doctype html
html
  head
    title   Shona
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')


body
    h1=pageheading
    h1=user.toUpperCase()
    //h1 Shona's details
    p this is just some test