extends base


block content

  main.main
    .card-container-parag
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/tours/tour-1-cover.jpg`, alt=`abcd`)
            h3.heading-tertirary
              span= singleSite.artist_name

          .card__details
            p(align='center')
                iframe(width='660', height='371', src='https://www.youtube.com/embed/tI6dyDafIgQ',allowfullscreen)        
            h4.card__sub-heading= singleSite.video_quality
            p.card__text= singleSite.video_desc
            .card__data
              a.btn.btn--green.btn--small(href=`/`) Back 
          .card__footer
            p
              span.card__footer-value= `Created by Sarthak`  